@import "flowbite";
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-primary: #e5e7eb;
  --color-secondary: #1e2939;
}

:root {
  /* --color-primary: #e5e7eb;
  --color-secondary: #1e2939; */
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;

}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

